@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(33, 30, 87);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcomeContainer {
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
  background-image: linear-gradient(to bottom, #0e91f1, #00a4ff, #5fbbff);
  width: 320px;
  height: 520px;
  overflow: hidden;
}
.welcomeContainer h1 {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
}
.welcomeContainer .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcomeContainer .logo img {
  color: whitesmoke;
}
.welcomeContainer .logo p {
  color: #24dbc9;
}
.welcomeContainer .signin-signup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.welcomeContainer .signin-signup .signinBtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 30px;
  color: #181818;
  font-size: 20px;
  width: 220px;
  height: 40px;
}
.welcomeContainer .signin-signup .signinBtn:hover {
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
}
.welcomeContainer .signin-signup .signupBtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: whitesmoke;
  font-size: 20px;
  border: 2px solid whitesmoke;
  border-radius: 30px;
  width: 220px;
  height: 40px;
}
.welcomeContainer .signin-signup .signupBtn:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #181818;
}
.welcomeContainer .firstWave {
  width: 700px;
  position: absolute;
  bottom: 0;
}
.welcomeContainer .secondWave {
  width: 700px;
  margin-left: -120px;
  position: absolute;
  bottom: 0;
}

.signinContainer {
  position: relative;
  background-color: whitesmoke;
  width: 320px;
  height: 520px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
  overflow: hidden;
}
.signinContainer .wavesUp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.signinContainer .wavesUp img {
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-left: 200px;
  width: 800px;
}
.signinContainer .wavesUp h1 {
  position: absolute;
  z-index: 2;
  margin-top: -70px;
  margin-left: 370px;
  font-size: 20px;
}
.signinContainer .wavesDown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.signinContainer .wavesDown img {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  margin-left: 180px;
  width: 900px;
}
.signinContainer .wavesDown .signupAccountContainer {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: -100px;
  font-size: 12px;
}
.signinContainer .wavesDown .signupAccountContainer .dontAccount {
  margin-right: 410px;
}
.signinContainer .wavesDown .signupAccountContainer a {
  margin-top: -15px;
  margin-left: 75px;
  color: whitesmoke;
}
.signinContainer .wavesDown .signupAccountContainer a:hover {
  cursor: pointer;
  color: #181818;
}
.signinContainer .signin {
  position: absolute;
  width: 250px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.signinContainer .signin .usernameContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 250px;
  border-bottom: 2px solid #aab0b3;
}
.signinContainer .signin .usernameContainer .signinUsername {
  border: none;
  background-color: transparent;
}
.signinContainer .signin .usernameContainer .fa-user {
  color: #aab0b3;
}
.signinContainer .signin .passwordContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 250px;
  border-bottom: 2px solid #aab0b3;
}
.signinContainer .signin .passwordContainer .signinPassword {
  border: none;
  background-color: transparent;
}
.signinContainer .signin .passwordContainer .fa-lock {
  color: #aab0b3;
}
.signinContainer .signin .signinConfirmBtn {
  background-image: linear-gradient(to right, #0e91f1, #00a4ff, #5fbbff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin-left: -160px;
  cursor: pointer;
}

.signupContainer {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to bottom, #0068ff, #0099ff, #0099ff, #44aef5);
  width: 320px;
  height: 520px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
  overflow: hidden;
}
.signupContainer .waveHeader {
  top: 0;
  margin-left: 300px;
  position: absolute;
  display: flex;
  z-index: 2;
}
.signupContainer .waveHeader h1 {
  position: absolute;
  z-index: 3;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 20px;
}
.signupContainer .waveHeader img {
  width: 900px;
  margin-left: -150px;
}
.signupContainer .detailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 4;
  width: 100%;
}
.signupContainer .detailsContainer img {
  width: 900px;
  margin-left: 550px;
  margin-top: -270px;
  position: absolute;
  z-index: 5;
}
.signupContainer .detailsContainer .details {
  position: absolute;
  z-index: 7;
  gap: 30px;
  margin-top: -90px;
  display: flex;
  flex-direction: column;
  width: 250px;
}
.signupContainer .detailsContainer .details .detailsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}
.signupContainer .detailsContainer .details .detailsInfo .signupBox {
  border: none;
  background-color: transparent;
}
.signupContainer .detailsContainer .details .detailsInfo .signupBox::-moz-placeholder {
  color: whitesmoke;
}
.signupContainer .detailsContainer .details .detailsInfo .signupBox::placeholder {
  color: whitesmoke;
}
.signupContainer .detailsContainer .confirmSignup {
  position: absolute;
  z-index: 7;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  text-decoration: none;
  color: whitesmoke;
}
.signupContainer .detailsContainer .confirmSignup:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #181818;
}
.signupContainer .detailsContainer .signupAccountContainer {
  position: absolute;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 190px;
  width: 250px;
  font-size: 12px;
}
.signupContainer .detailsContainer .signupAccountContainer a {
  color: whitesmoke;
  margin-top: -10px;
}
.signupContainer .detailsContainer .signupAccountContainer a:hover {
  color: #181818;
}

.outerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.outerBox .membersContainer {
  position: relative;
  background-color: whitesmoke;
  width: 320px;
  height: 520px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
  overflow: hidden;
}
.outerBox .membersContainer .memberHeader {
  margin-left: 300px;
  position: relative;
  display: flex;
  z-index: 1;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.outerBox .membersContainer .memberHeader .memberUp {
  position: absolute;
  z-index: 2;
  width: 600px;
  margin-left: -300px;
}
.outerBox .membersContainer .memberHeader .membersLogo {
  position: absolute;
  z-index: 3;
  width: 250px;
  margin-left: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.outerBox .membersContainer .memberHeader .membersLogo h1 {
  font-size: 24px;
}
.outerBox .membersContainer .memberHeader .membersLogo img {
  width: 40px;
  height: 25px;
}
.outerBox .membersContainer .membersList {
  position: absolute;
  z-index: 5;
  width: 250px;
  height: 300px;
  overflow: auto;
}
.outerBox .membersContainer .membersList .memberDetail {
  color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 3px 12px;
  margin: 15px 2px;
  border-bottom: 3px solid #5fbbff;
}
.outerBox .membersContainer .membersList .memberDetail .memberListImage {
  width: 30px;
  height: 30px;
}
.outerBox .membersContainer .membersList .memberDetail a {
  text-decoration: none;
  color: #181818;
}
.outerBox .membersContainer .membersList .memberDetail a:hover {
  text-decoration: underline;
}
.outerBox .membersContainer .membersFooter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-left: 250px;
}
.outerBox .membersContainer .membersFooter img {
  position: absolute;
  z-index: 2;
  width: 700px;
}
.outerBox .membersContainer .membersFooter a {
  position: absolute;
  z-index: 3;
  display: flex;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: none;
  color: whitesmoke;
  margin-right: 160px;
}

.userInfoContainer {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to bottom, #0068ff, #0099ff, #0099ff, #44aef5);
  width: 320px;
  height: 520px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
  overflow: hidden;
}
.userInfoContainer .waveHeader {
  top: 0;
  margin-left: 300px;
  position: absolute;
  display: flex;
  z-index: 2;
}
.userInfoContainer .waveHeader .waveTrans {
  width: 900px;
  margin-left: -150px;
}
.userInfoContainer .userDetailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 4;
  width: 100%;
}
.userInfoContainer .userDetailsContainer .waveTransTwo {
  width: 900px;
  margin-left: 550px;
  margin-top: -270px;
  position: absolute;
  z-index: 5;
}
.userInfoContainer .userDetailsContainer .userDetails {
  position: absolute;
  z-index: 7;
  gap: 30px;
  margin-top: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
.userInfoContainer .userDetailsContainer .userDetails .userImage {
  width: 150px;
  height: 150px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
}
.userInfoContainer .userDetailsContainer .backToMembersContainer {
  position: absolute;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 190px;
  width: 250px;
  font-size: 12px;
}
.userInfoContainer .userDetailsContainer .backToMembersContainer a {
  color: whitesmoke;
  margin-top: -10px;
}
.userInfoContainer .userDetailsContainer .backToMembersContainer a:hover {
  color: #181818;
}

@media screen and (max-width: 320px) {
  .welcomeContainer {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .signinContainer {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}/*# sourceMappingURL=style.css.map */