@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin font-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(33, 30, 87);
  @include font-text();
  overflow: hidden;
}

form {
  @include flex();
  height: 100vh;

}

.welcomeContainer {
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
  background-image: linear-gradient(to bottom, #0e91f1, #00a4ff, #5fbbff);
  width: 320px;
  height: 520px;
  overflow: hidden;
  h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 24px;
  }
  .logo {
    @include flex();
    flex-direction: column;
    img {
      color: whitesmoke;
    }
    p {
      color: #24dbc9;
    }
  }
  .signin-signup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .signinBtn {
      text-decoration: none;
      @include flex();
      background-color: whitesmoke;
      border: 2px solid whitesmoke;
      border-radius: 30px;
      color: #181818;
      font-size: 20px;
      width: 220px;
      height: 40px;
      &:hover {
        cursor: pointer;
        background-color: transparent;
        color: whitesmoke;
      }
    }
    .signupBtn {
      text-decoration: none;
      @include flex();
      background-color: transparent;
      color: whitesmoke;
      font-size: 20px;
      border: 2px solid whitesmoke;
      border-radius: 30px;
      width: 220px;
      height: 40px;
      &:hover {
        cursor: pointer;
        background-color: whitesmoke;
        color: #181818;
      }
    }
  }
  .firstWave {
    width: 700px;
    position: absolute;
    bottom: 0;
  }
  .secondWave {
    width: 700px;
    margin-left: -120px;
    position: absolute;
    bottom: 0;
  }
}

.signinContainer {
  position: relative;
  background-color: whitesmoke;
  width: 320px;
  height: 520px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
  overflow: hidden;
  .wavesUp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    img {
      position: relative;
      z-index: 1;
      margin-top: 0;
      margin-left: 200px;
      width: 800px;
    }
    h1 {
      position: absolute;
      z-index: 2;
      margin-top: -70px;
      margin-left: 370px;
      font-size: 20px;

    }
  }

  .wavesDown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    img {
      position: relative;
      z-index: 1;
      margin-bottom: 0;
      margin-left: 200px;
      width: 900px;
    }
    .signupAccountContainer {
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 5px;
      margin-bottom: -90px;
      font-size: 12px;
      .dontAccount {
        margin-right: 410px;
      }
      a {
        margin-top: -15px;
        margin-left: 75px;
        color: whitesmoke;
        &:hover {
          cursor: pointer;
          color: #181818;
        }
      }

    }
  }
  .signin {
    position: absolute;
    width: 250px;
    height: 520px;
    @include flex();
    flex-direction: column;
    gap: 25px;
    .usernameContainer {
      border-bottom: 2px solid #aab0b3;
      .signinUsername {
        border: none;
        background-color: transparent;
      }
      .fa-user {
        color: #aab0b3;
      }
    }
    .passwordContainer {
      border-bottom: 2px solid #aab0b3;
      .signinPassword {
        border: none;
        background-color: transparent;
      }
      .fa-lock {
        color: #aab0b3;
      }
    }
    .signinConfirmBtn {
      background-image: linear-gradient(to right, #0e91f1, #00a4ff, #5fbbff);
      @include flex();
      text-decoration: none;
      color: whitesmoke;
      width: 95px;
      height: 35px;
      border-radius: 20px;
      margin-left: -100px;
    }
  }
}

.signupContainer {
  position: relative;
  z-index: 1;
  background-color: whitesmoke;
  width: 320px;
  height: 520px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  color: whitesmoke;
  overflow: hidden;
  .waveHeader {
    margin-left: 300px;
    position: absolute;
    display: flex;
    z-index: 2;
    h1 {
      position: absolute;
      z-index: 3;
      margin-left: 170px;
      margin-top: 20px;
      font-size: 20px;
    }
    img {
      width: 900px;
    }
  }
  .detailsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media screen and (max-width:320px) {
  .welcomeContainer {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .signinContainer {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
